/* src/App.css */

.App {
  text-align: center;
  font-family: "Arial", sans-serif;
  background-color: #f2a0d1;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #333;
  margin-bottom: 40px;
}
